h1{
	/*background-image: url("https://images-na.ssl-images-amazon.com/images/M/MV5BMjM5OTQ1MTY5Nl5BMl5BanBnXkFtZTgwMjM3NzMxODE@._V1_UY1200_CR90,0,630,1200_AL_.jpg");	
*/	color: white;
}

body{
	background-color: #C5CAE9;
	background-image: url("https://images-na.ssl-images-amazon.com/images/M/MV5BMjM5OTQ1MTY5Nl5BMl5BanBnXkFtZTgwMjM3NzMxODE@._V1_UY1200_CR90,0,630,1200_AL_.jpg");	
	color: white;
	}